# ######################################################################################
# Root OdinProcServ generated screen with Start, Stop and Restart buttons
# Instantiate OdinProcServProcess templates with the same gui tag root to include them

#% macro, name, Unique detector name, e.g. EIG1
#% macro, PREFIX, Prefix of odinprocservcontrol PVs
# % gui, $(name)ProcServ.StartStop, edmembed, OdinStartStop_embed.edl, PREFIX=$(PREFIX)
