# % macro, P, Device Prefix
# % macro, R, Device Suffix
# % macro, PORT, Asyn Port name

# This associates the template with an edm screen
# % gui, $(PORT), edmtab, EigerMain.edl, P=$(P),R=$(R)

include "EigerFan.template"
include "MetaListener.template"
